.menu {
  flex: 1;
  background-color: #202020;
  color: #fff;
  height: fit-content;
  position: sticky;
  top: 0;

 
  
}
.wrapper {
  padding: 10px 26px;
}
.logo_name {
  display: flex;
  align-items: center;
}
.youtube_name {
  font-size: 20px;
  font-weight: 700;
  padding: 0px 10px;
}
.logo {
  width: 40px;
  height: 40px;
  object-fit: cover;
 
}
.items_wrapper {
  margin: 20px 0px;
}
.item {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 13px;
  color: white;
  cursor: pointer;
  padding: 8px 0px;
  margin: 7px 0px;
}

.item:hover{
 background-color:#373737;
}
.hr{
    border:1px solid rgb(67, 66, 66);
    margin:10px 0px;
}
.line{
  font-size: 13px;
  line-height: 25px;
  margin: 20px 0px;
  color: #767575;
}
.signin_button {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  border:2px solid blue;
  color: rgb(52, 52, 215);
  background-color: #202020;
  gap: 10px;
  border-radius: 4px;
  font-size: 20px;cursor: pointer;
}
